.button {
  cursor: pointer;

  padding: 1rem 2rem;

  border-radius: 0.375rem;
  background-color: var(--black);

  font-size: 1.25rem;
  color: var(--white);
  text-transform: uppercase;

  &:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 1024px) {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    font-size: 0.75rem;
    padding: 1rem 1.5rem;
  }

  @media (max-width: 576px) {
    padding: 0.75rem 1rem;
  }
}
