.container {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

  .title {
    font-size: 8rem;
    text-transform: uppercase;
  }

  .level {
    font-size: 2rem;
  }
}
