.key {
    --size: 4.5rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    text-transform: uppercase;

    border: none;
    border-radius: .5rem;
    background-color: var(--gray);

    width: var(--size);
    height: var(--size);

    &:hover {
        background-color: var(--dark-gray);
    }
}

.disable {
    background-color: transparent;
    color: var(--gray);

    &:hover {
        background-color: transparent;
    }
}