.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .track {
    display: flex;
    align-items: center;

    width: 4rem;
    padding: 0.5rem;

    background: var(--text-color);
    border-radius: 50vh;

    .input {
      visibility: hidden;

      width: 0;
      height: 0;

      padding: 0;
      margin: 0;
    }

    .thumb {
      display: block;
      cursor: pointer;

      width: 1rem;
      height: 1rem;

      border-radius: 50%;
      background: var(--background-color);

      transition: margin-left 0.6s ease;
    }

    .input:checked + .thumb {
      margin-left: auto;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
