.container {
  --padding: 2rem;

  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 2rem;

  padding: var(--padding);
  min-height: 100vh;

  .menu,
  .coins {
    position: absolute;
  }

  .menu {
    top: var(--padding);
    right: var(--padding);
  }

  .coins {
    top: var(--padding);
    left: var(--padding);
  }

  .hangman {
    height: 30vh;
    width: auto;
  }
}
