.container {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 2rem;

  padding: 2rem;
  min-height: 100vh;

  .menu {
    position: absolute;

    top: 2rem;
    right: 2rem;
  }

  .hangman {
    height: 30vh;
    width: auto;
  }
}
