.container {
  --padding: 2rem;

  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 2rem;

  padding: var(--padding);
  min-height: 100vh;

  .coins,
  .icons {
    position: absolute;
  }

  .coins {
    top: var(--padding);
    left: var(--padding);
  }

  .icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: var(--padding);

    top: 0;
    right: 0;
  }

  .hangman {
    height: 30vh;
    width: auto;
  }

  @media (max-width: 1200px) {
    --padding: 1.5rem;

    .icons {
      justify-content: flex-start;
      flex-direction: row-reverse;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  @media (max-width: 768px) {
    --padding: 1rem;
  }

  @media (max-width: 576px) {
    .icons {
      //justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      //gap: 1rem;
    }
  }
}
