.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .title {
    font-size: 4.5rem;
    color: var(--green);
  }

  .contet {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.5rem;

    .word {
      .uppercase {
        text-transform: uppercase;
      }
    }

    .coins {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 2.25rem;
    }
  }

  .footer {
    display: flex;
    gap: 2rem;

    a,
    button {
      cursor: pointer;

      border: none;
      background: transparent;

      padding: 0;

      :hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}
